@import "./../variables.scss";

#logo {
  margin: 5px 16px 5px 0;
  img {
    padding: 5px;
    height: 60px;
  }
}

#logo > img:hover {
  border: 1px dashed $main_color;
}

#navbarCollapse {
  max-width: 1100px;
  margin: auto;
}

.navbar {
  border-bottom: 2px solid $main_color;
  min-height: 85px;

  /* force nav to stay horizontal */
  .navbar-nav {
    flex-direction: row;
    max-width: 1100px !important;
    /* align items vertically*/
    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0px 5px;
      width: 80px;
    }
    .nav-item-active,
    .nav-item:hover {
      font-weight: bold;
      color: $main_color !important;
    }
  }
} // .navbar

@media (max-width: 700px) {
  .navbar {
    .navbar-nav {
      justify-content: space-around;
    }
  }
}

@media (max-width: 500px) {
  #logo img {
    height: 48px;
  }
}

@media (max-width: 400px) {
  #logo {
    margin: 5px 5px 5px 0;
  }

  #navbarCollapse {
    max-width: 95%;
  }

  .navbar {
    padding: 0 0 10px 0;
  }

  #navbarCollapse {
    font-size: 13px;
    margin: 0 0 0 5px;
  }
}

@media (max-width: 350px) {
  #navbarCollapse {
    max-width: 310px;
  }
}
