@import "./../variables.scss";

// classes added dynamically in order to vertically align the search container
.paginationYes {
  margin: -65px 0 0 0 !important;
}

.paginationNo {
  margin: -53px 0 0 0 !important;
}

// classes added dynamically in order to vertically align the page title header
.paginationYes-H1 {
  margin: 30px 0 20px 0;
}

.paginationNo-H1 {
  margin: 20px 0 20px 0;
}

#pagination {
  text-align: center;
  margin-top: 5px;

  a {
    color: #ffffff;
    text-shadow: 1px 1px #000;
  }

  /* next / prev text */
  .pager-navigation {
    background-color: $main_color;
    margin: 0px 5px;
    padding: 3px 10px;
    font-size: 12px;
  }

  .disabled {
    color: rgb(61, 60, 60);
    background-color: rgb(202, 201, 201) !important;
  }
}

#recordCount {
  display: none;
}

@media (max-width: 700px) {
  .paginationYes {
    margin: 0 0 0 0 !important;
  }

  .paginationNo {
    margin: 0 0 0 0 !important;
  }

  .pager-navigation {
    margin: 0px 2px;
    padding: 3px 7px;
  }

  #pagination {
    display: inline;
  }
}

@media (max-width: 500px) {
  .paginationYes-H1 {
    margin: 120px 0 0 0 !important;
  }

  .paginationNo-H1 {
    margin: 120px 0 0 0 !important;
  }
}

@media (max-width: 460px) {
  .paginationYes-H1 {
    padding-top: 5px;
  }

  .paginationNo-H1 {
    margin: 120px 0 0 0 !important;
  }
}
