@import "variables.scss";

.layout-container {
  margin-top: 50px;
}

#block-chriscorchado-branding {
  width: 65px;
}

#block-chriscorchado-main-menu {
  background-color: $off_white;
}

.page-title-container {
  text-align: center;
  margin-top: 20px;
}
