@import "variables.scss";

#block-chriscorchado-branding {
  width: 65px;
}

#block-chriscorchado-main-menu {
  background-color: $off_white;
}

// Hide Drupal pagination top
.views-element-container header {
  display: none;
}

// Hide Drupal pagination bottom
.views-element-container nav {
  display: none;
}
