<div class="site-version" id="html" aria-label="Icons of the technology used on this site and link to Github">

	<div>
		<img alt="Drupal 8 Icon" title="Drupal 8 uses MySQL for the database" src="https://chriscorchado.com/images/drupal8.png"/>
	</div>

	<div>
		<img alt="PHP Icon" title="PHP for server side functionality" src="https://chriscorchado.com/images/php.png"/>
	</div>

	<div>
		<img alt="TypeScript Icon" title="TypeScript for Javascript client side functionality" src="https://chriscorchado.com/images/typescript.png"/>
	</div>

	<div>
		<img alt="SASS Icon" title="SASS for the CSS look and feel styles" src="https://chriscorchado.com/images/sass.png"/>
	</div>

	<div>
		<img alt="Twig Icon" title="Twig for the HTML content templates" src="https://chriscorchado.com/images/twig.png"/>
	</div>

	<div>
		<a href="https://github.com/chriscorchado125/Drupal8" target="_blank" title="Opening a new window" rel="noopener">

			<img alt="Github Icon" title="View the code on Github" src="https://chriscorchado.com/images/github.jpg"/>
		</a>
	</div>

</div>
